
<div class="toolbar">
    <div class="logo">
        <svg width="62" height="70" viewBox="0 0 62 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.417183 69.8573V58.4646C9.33328 58.4646 16.5958 51.164 16.5958 42.2012V14.4678L27.9291 14.4512V42.1957C27.9291 57.454 15.5905 69.8573 0.417183 69.8573Z" fill="#012369"/>
            <path d="M27.9511 0.1427V7.90718H16.6837V5.33927L27.9511 0.1427Z" fill="#FF5C2C"/>
            <path d="M61.5828 14.4512V25.8439C52.6667 25.8439 45.4042 33.1445 45.4042 42.1073V69.8408L34.0709 69.8518V42.1128C34.0709 26.86 46.4095 14.4512 61.5828 14.4512Z" fill="#FF5C2C"/>
            </svg>
    </div>
    <div class="social-icons"></div>
    <div class="nav-links">
        <ul>
            <li class="currentLinkNumber current"><a href= "home">Home</a></li>
            <li class="currentLinkNumber"><a href= "orderform">Order Form</a></li>
            <li class="currentLinkNumber"><a href= "order-history">Vendor Stat</a></li>
        </ul>
    </div>
    {{!-- <div class="menu-icon">
        <span style="color: #000; font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </div>

    <div id="mySidenav" class="sideNavWidth ? 'sidenav open': 'sidenav close'">
        <br>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <hr>
        <a href=""> Home</a>
        <hr>
        <a href="">Order Form</a>
        <hr>
        <a href="">Vendor Stat</a>
      
    </div> --}}
  </div>
<div>
<div style="postion: relative; top: 100px; margin-top: 200px, background: #f5f5f5">
    <ul>
    {{#each data.orders}}
    <li>
        <div style="background-color: #dffff4; padding: 25px; border: 1px solid #77ccaf; margin: 25px">
            <p>{{this.order}}</p>
        </div>
        </li> 
    {{/each}}
    </ul>

    <h1>
        total order : {{data.total}}
    </h1>
</div>

<script>
     function initVendorsData(vendorsData = ''){
    vendors = vendorsData;
}
</script>