<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Office Supplies Order Form</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="/assets/css/navbar.css">
	</head>
	
	<body onload="initVendorsData({{vendorsData}})">
		{{{body}}}
	</body>

</html>